@using Proyecto_SistemaIntranet.Models
@{
    ViewBag.Title = "Perfil del Alumno";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
    string nombrerol = Session["Rol"].ToString();
    Usuario obj = (Usuario)Session["Usuario"];
    Apoderado ap = (Apoderado)Session["Apoderado"];
}

@section css{

    @*<link href="assets\plugins\jvectormap-next\jquery-jvectormap.css" rel="stylesheet">*@
    <link href="~/assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" rel="stylesheet">

}

<!-- begin #content -->
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb float-xl-right">
        <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
        <li class="breadcrumb-item active">Mi Perfil</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->

    <h1 class="page-header">Mi Perfil <small>  @nombrerol </small></h1>
    <!-- end page-header -->
    <!-- Empieza Contenido de Perfil de Usuario-->
    <!-- begin row -->
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-xl-4 col-sm-6">
            <!-- begin card -->
            <div class="text-center card border-0">
                <!-- ..\assets\img\user\user-13.jpeg -->
                <!-- ..\assets\img\gallery\gallery-1.jpeg -->
                <img class="card-img-top height-300" src=" @obj.rutaImagen " alt="">
                <div class="card-body">
                    <h2 class="card-title m-t-0 m-b-10">@nombrerol </h2>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    <a href="#modal-dialog" class=" btn btn-lg btn-danger" data-toggle="modal">Cambiar Contraseña</a>
                </div>
            </div>
            <!-- end card -->
        </div>
        <!-- end col-6 -->
        <!-- #modal-dialog -->
        <div class="modal fade" id="modal-dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-dark">
                        <h4 class="modal-title text-white">Cambiar Contraseña</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <form action="cambiarPassword" method="POST">
                            <div style="display: flex;flex-wrap: nowrap;">
                                <div class="col-md-4 p-t-40">
                                    <img class="width-full " src="https://firebasestorage.googleapis.com/v0/b/proyecto-daw1-9ce23.appspot.com/o/imagenes%2Fcontrasena.png?alt=media&token=e53c4946-5667-435f-87c7-6de307ddf0fa" alt="">
                                </div>
                                <div class="col-md-8">
                                    <input type="hidden" class="form-control" id="idCodigo" value="@obj.idusuario" name="u.cod_usuario">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1" class="f-s-14"><b>Contraseña Actual</b></label>
                                        <input data-toggle="password" data-placement="after" type="password" class="form-control" id="exampleInputEmail1" name="actual" required="required">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1" class="f-s-14"><b>Nueva Contraseña</b></label>
                                        <input data-toggle="password" data-placement="after" type="password" class="form-control" id="exampleInputEmail1" name="u.contrasena_usuario" required="required">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1" class="f-s-14"><b>Confirmar Nueva Contraseña</b></label>
                                        <input data-toggle="password" data-placement="after" type="password" class="form-control" id="exampleInputEmail1" name="confirmar" required="required">
                                    </div>


                                </div>

                            </div><br><br>
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-lg btn-inverse m-r-25">Guardar Cambios</button>
                                <button type="button" class="btn btn-lg btn-dark" data-dismiss="modal">Cancelar</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <!-- begin col-6 -->
        <div class="col-xl-8 col-sm-6">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <!-- begin panel-heading -->
                <div class="panel-heading">
                    <h4 class="panel-title">Datos Personales del Alumno</h4>


                </div>
                <!-- end panel-heading -->
                <!-- begin panel-body -->
                @if (ViewBag.Mensaje != null)
                {
                    <div class="alert alert-success fade show " id="alerta">
                        <span class="close" data-dismiss="alert" style="cursor:pointer">×</span>
                        <strong><s:property value="ViewBag.Mensaje" /></strong>
                    </div>
                }
                <div class="panel-body">
                    <form action="ServletUsuario?accion=ACTUALIZAR_PERFIL" method="POST">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    @*<div class="form-group">

                                            <label for="exampleInputEmail1"><b>Código</b></label>
                                            <input type="text" class="form-control" id="idCodigo" readonly value="@obj.idusuario" name="codigo">
                                        </div>*@
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"><b>Nombres</b></label>
                                        <input type="text" class="form-control" id="idNombre" disabled value="@obj.nombreUsuario" name="nombre">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"><b>Dirección</b></label>
                                        <input type="text" class="form-control" id="idApellido" disabled value="@obj.direccionUsuario" name="apellido">
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"><b>Apellidos</b></label>
                                        <input type="text" class="form-control" id="idApellido" disabled value="@obj.apellidoUsuario" name="apellido">
                                    </div>
                                    <div class="form-group ">
                                        <label><b>Fecha de Nacimiento</b></label>
                                        <input type="date" class="form-control" id="fechaNac" name="fechanacimiento" disabled value="@obj.fechaNacUsuario">
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"><b>DNI</b></label>
                                        <input type="text" class="form-control" id="idCodigo" readonly value="@obj.dniUsuario" name="codigo">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"><b>Teléfono</b></label>
                                        <input type="text" class="form-control" id="idApellido" disabled value="@obj.telefonoUsuario" name="apellido">
                                    </div>
                                    @*<div class="form-group">
                                            <label for="exampleInputEmail1"><b>Email</b></label>
                                            <input type="email" class="form-control" id="idEmail" disabled value="" name="email">
                                        </div>*@
                                    @*<div class="form-group">
                                            <label><b>Sexo</b></label>
                                            <select class="form-control" id="idSexo" disabled name="sexo">
                                                <option>[Seleccione]</option>
                                                <option value="Masculino">Masculino</option>
                                                <option value="Femenino">Femenino</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label><b>Estado</b></label>
                                            <select class="form-control" id="idEstado" disabled>
                                                <option>[Seleccione</option>
                                            </select>
                                        </div>*@

                                </div>
                                @*<div class="col-md-12">

                                        <button type="button" id="Actualiza" class="btn btn-lg btn-warning  m-r-5 " onclick="do_change()">Actualizar Perfil</button>
                                        <button type="submit" id="Guardar" class="btn btn-lg btn-success m-r-5" style="display:none;">Guardar Cambios</button>
                                        <button type="button" id="Cancelar" class="btn btn-lg btn-dark" style="display:none;" onclick="do_back()">Cancelar</button>
                                    </div>*@
                            </div>
                        </div>
                    </form>
                </div>
                <!-- end panel-body -->

            </div>
            <!-- end panel -->
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <!-- begin panel-heading -->
                <div class="panel-heading">
                    <h4 class="panel-title">Datos del Apoderado(a)</h4>
                </div>
                <!-- end panel-heading -->
                <!-- begin panel-body -->
                <div class="panel-body">
                    <form action="ServletUsuario?accion=ACTUALIZAR_PERFIL" method="POST">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"><b>Nombres</b></label>
                                        <input type="text" class="form-control" id="idNombre" disabled value="@ap.nombreApoderado" name="nombre">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"><b>Dirección</b></label>
                                        <input type="text" class="form-control" id="idApellido" disabled value="@ap.direccionApoderado" name="apellido">
                                    </div>


                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"><b>Apellidos</b></label>
                                        <input type="text" class="form-control" id="idApellido" disabled value="@ap.apellidoApoderado" name="apellido">
                                    </div>
                                    <div class="form-group ">
                                        <label><b>Profesión </b></label>
                                        <input type="text" class="form-control" id="fechaNac" name="fechanacimiento" disabled value="Ingeniero">
                                    </div>

                                    <div class="form-group">
                                        <label><b>Relación</b></label>
                                        @Html.DropDownList("idRelacion", null, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                        @*<select class="form-control" id="idSexo" disabled name="sexo">
                                                <option>[Seleccione]</option>
                                                <option value="1" selected>Padre</option>
                                                <option value="2">Madre</option>
                                            </select>*@
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"><b>DNI</b></label>
                                        <input type="text" class="form-control" id="idCodigo" readonly value="@ap.dniApoderado" name="codigo">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"><b>Teléfono</b></label>
                                        <input type="text" class="form-control" id="idApellido" disabled value="@ap.telefonoApoderado" name="apellido">
                                    </div>

                                    @*<div class="form-group">
                                            <label><b>Sexo</b></label>
                                            <select class="form-control" id="idSexo" disabled name="sexo">
                                                <option>[Seleccione]</option>
                                                <option value="Masculino">Masculino</option>
                                                <option value="Femenino">Femenino</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label><b>Estado</b></label>
                                            <select class="form-control" id="idEstado" disabled>
                                                <option>[Seleccione</option>
                                            </select>
                                        </div>*@

                                </div>

                            </div>
                        </div>
                    </form>
                </div>
                <!-- end panel-body -->

            </div>
            <!-- end panel -->
        </div>
        <!-- end col-6 -->

    </div>
    <!-- end row -->
    <!-- Termina Contenido de Perfil de Usuario-->

</div>
<!-- end #content -->



@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            setTimeout(function () {
                $("#alerta").alert('close');
            }, 3000);
        });
    </script>


    <!--Script para ocultar botones de perfil-->
    <script type="text/javascript">
        function do_change() {
            //Acciones para Los Botones
            document.getElementById("Actualiza").style.display = "none";
            document.getElementById("Guardar").style.display = "inline-block";
            document.getElementById("Cancelar").style.display = "inline-block";
            //Acciones para deshabilitar el disabled en las cajas de texto
            document.getElementById("idNombre").disabled = false;
            document.getElementById("idApellido").disabled = false;
            document.getElementById("fechaNac").disabled = false;
            document.getElementById("idEmail").disabled = false;
            //document.getElementById("cargoid").disabled=true;
            document.getElementById("idSexo").disabled = false;
            //document.getElementById("idEstado").disabled=false;
        }

        function do_back() {
            //Acciones para Los Botones
            document.getElementById("Actualiza").style.display = "block";
            document.getElementById("Guardar").style.display = "none";
            document.getElementById("Cancelar").style.display = "none";
            //Acciones para habilitar el disabled en las cajas de texto
            document.getElementById("idNombre").disabled = true;
            document.getElementById("idApellido").disabled = true;
            document.getElementById("fechaNac").disabled = true;
            document.getElementById("idEmail").disabled = true;
            //document.getElementById("cargoid").disabled=true;
            document.getElementById("idSexo").disabled = true;
            document.getElementById("idEstado").disabled = true;
        }
    </script>

    @*<script src="~/assets/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>*@
    <script src="~/assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="~/assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
    <script src="~/assets/plugins/bootstrap-show-password/dist/bootstrap-show-password.js"></script>
    <script src="~/assets/js/demo/form-plugins.demo.js"></script>


}