@model IEnumerable<Proyecto_SistemaIntranet.Models.Calificacion>

@{
    ViewBag.Title = "Mis Calificaciones";
}

<h2 class="text-secondary text-center my-4">Mis Calificaciones</h2>

<div class="container">
    @using (Html.BeginForm()) { 
        <div class="form-inline d-flex justify-content-end">
            <div class="form-group">
                <label>Cursos: </label>
                @Html.DropDownList("idcurso", (SelectList)ViewBag.cursos, new { @class="form-control mb-2"})
            </div>
            <input class="btn btn-primary" type="submit" value="Consultar"/>
        </div>
    }

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Evaluacion</th>
                <th>Curso</th>
                <th>Estado</th>
                <th>Nota</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.idcalificacion</td>
                    <td>@item.Evaluacion.tituloEvaluacion</td>
                    <td>@item.Evaluacion.Curso.nombreCurso</td>
                    <td>@item.estadoCalificacion</td>
                    <td>@item.notaCalificacion</td>
                </tr>
            }
        </tbody>
    </table>
</div>
